<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>MJUTT - Time to MJU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'timetable/semantic/semantic.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'timetable/css/style.css' %}">
    <link rel="stylesheet" type="" href="{% static 'timetable/css/style.css' %}">
    <!-- use semantic.min.css <- deploy -->
    <link rel="stylesheet" href="{% static 'timetable/js/core.js' %}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="{% static 'timetable/semantic/semantic.js'%}"></script>

  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script>
      $('.ui.dropdown').dropdown();
      $('.ui.checkbox').checkbox();
      $('.tabular.menu .item').tab();
    </script>

    <script>
    $('.table-row').hover(function(){
      $(this).addClass("hover");
    }, function(){
      $(this).removeClass("hover");
    });

    $('.table-row').click(function(event){
      $('.table-row').not(this).removeClass('clicked');
      $(this).toggleClass("clicked");
    });

    $('#submit').click(function(e){
      e.preventDefault();
      console.log("submit clicked");

      var mycheckboxes = new Array();
      $("input:checked").each(function(){
        mycheckboxes.push($(this).val());
      });

      console.log(mycheckboxes);
      console.log($('#id_dropdown').val());
      $.ajax({
        type:'POST',
        url:'/',
        data:{
          csrfmiddlewaretoken : '{{csrf_token}}',
          dept:$('#id_dropdown').val(),
          grade:mycheckboxes,
          classname:$('#classname').val(), // 수정 필요
        },
        success: function(data){
          console.log("SUCCESS");
          console.log(data);
        },
        failure: function(data){
          console.log("FAIL");
          console.log(data);
        },
      });
    });

    // $('#add-item').click(function(){ // when click is placed
    //   $.ajax({ //create an ajax call.
    //     data: $()
    //   });
    // });


    </script>
    {% block javascript %}{% endblock %}

  </body>
</html>
