<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>MJUTT - Time to MJU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'timetable/semantic/semantic.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'timetable/css/style.css' %}">
    <link rel="stylesheet" type="" href="{% static 'timetable/css/style.css' %}">
    <!-- use semantic.min.css <- deploy -->
    <link rel="stylesheet" href="{% static 'timetable/js/core.js' %}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="{% static 'timetable/semantic/semantic.js'%}"></script>

  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script>
      $('.ui.dropdown').dropdown();
      $('.ui.checkbox').checkbox();
      $('.tabular.menu .item').tab();
    </script>

    <script>
    // Ajax
    $('#submit').click(function(e){
      e.preventDefault();
      // Collect checkbox value
      var mycheckboxes = new Array();
      $("input:checked").each(function(){
        mycheckboxes.push($(this).val());
      });

      $.ajax({
        type:'POST',
        url:'/',
        dataType: "json",
        data:{
          csrfmiddlewaretoken : '{{csrf_token}}',
          dept:$('#id_dropdown').val(),
          grade:mycheckboxes,
          searchtext:$('#search').val(),
        },
        success: function(data){

          rowdata = $.parseJSON(data);
          // render JSON data
          $('#table-body').empty()
          $.each(rowdata, function(i, val){
            $('#table-body').append(
              $('<tr class="table-row">\
              <td>'+rowdata[i].fields['grade']+'</td>\
              <td>'+rowdata[i].fields['classname']+'</td>\
              <td>'+rowdata[i].fields['credit']+'</td>\
              <td>'+rowdata[i].fields['timeperweek']+'</td>\
              <td>'+rowdata[i].fields['prof']+'</td>\
              <td>'+rowdata[i].fields['classcode']+'</td>\
              <td>'+rowdata[i].fields['limitstud']+'</td>\
              <td>'+rowdata[i].fields['time']+'</td>\
              <td>'+rowdata[i].fields['note']+'</td>\
              <td id="check"></td>\
              </tr>')
            )
          });

          // activate CSS
          $(document).ready(function(){
            $('.table-row').hover(function(){
              $(this).addClass("hover");
            }, function(){
              $(this).removeClass("hover");
            });

            $('.table-row').click(function(event){
              $('.table-row').not(this).removeClass('clicked');
              $('#check').empty();
              $(this).toggleClass("clicked");
              $(this).children('#check').append($('<i class="large green \
              checkmark icon"></i> <i class="large red close icon">'));

              classname = $(this)[0].children[1].innerHTML;
              prof = $(this)[0].children[4].innerHTML;
              classtime = $(this)[0].children[7].innerHTML;
              console.log(classname);
              console.log(prof);
              console.log(classtime);
              timepattern = /.\d{2}:\d{2}-\d{2}:\d{2}/g;
              classroompattern = /\w\d{4,5}/g;
              console.log(classtime.match(timepattern));
              console.log(classtime.match(classroompattern));
              time = classtime.match(timepattern);
              classroom = classtime.match(classroompattern);

              daypattern = /(월|화|수|목|금)/;
              days = [];
              $.each(time, function(index, value){
                day= value.match(daypattern);
                days.push(day[0]); // new value to array, append()는 html에 추가할때 사용, day가 array라서 index붙임
              });
              console.log(days);

              hourpattern = //;
              hours = [];
              $.each(time, function(index, value){
                hour = value.match
              });
            });
          });

        // loading
        },
        beforeSend:function(){
          $('#search-form').addClass("loading")
        },
        complete:function(){
          $('#search-form').removeClass("loading")
        },
        failure: function(data){
          console.log("FAIL");
          console.log(data);
        }
      });
    });

    // $('#add-item').click(function(){
    //   $.ajax({
    //     data: $()
    //   });
    // });

    </script>

  </body>
</html>
