<div class="ui modal">
  <div class="ui icon header">
    Custom schedule
  </div>
  <div class="content">
    <form class="ui form">
      <div class="inline fields">
        <div class="field">
          <label>Classname</label>
          <input type="text" name="" placeholder="">
        </div>
        <div class="field">
          <label>classroom</label>
          <input type="text" name="" value="">
        </div>
        <div class="field">
          <label>prof</label>
          <input type="text" name="" value="">
        </div>
      </div>
      <div class="inline fields" style="width: 500px">
      <label>Time</label>
        <div class="ui fluid selection dropdown">
          <input name="gender" value="default" type="hidden">
          <i class="dropdown icon"></i>
          <div class="text"></div>
          <div class="menu">
            <div class="item" data-value="09">09시</div>
            <div class="item" data-value="10">10시</div>
            <div class="item" data-value="11">11시</div>
            <div class="item" data-value="12">12시</div>
            <div class="item" data-value="13">13시</div>
            <div class="item" data-value="14">14시</div>
            <div class="item" data-value="15">15시</div>
            <div class="item" data-value="16">16시</div>
            <div class="item" data-value="17">17시</div>
            <div class="item" data-value="18">18시</div>
            <div class="item" data-value="19">19시</div>
            <div class="item" data-value="20">20시</div>
            <div class="item" data-value="21">21시</div>
          </div>
        </div>
        <div class="ui fluid selection dropdown">
          <input name="gender" value="default" type="hidden">
          <i class="dropdown icon"></i>
          <div class="text"></div>
          <div class="menu">
            <div class="item" data-value="00">00분</div>
            <div class="item" data-value="05">05분</div>
            <div class="item" data-value="10">10분</div>
            <div class="item" data-value="15">15분</div>
            <div class="item" data-value="20">20분</div>
            <div class="item" data-value="25">25분</div>
            <div class="item" data-value="30">30분</div>
            <div class="item" data-value="35">35분</div>
            <div class="item" data-value="40">40분</div>
            <div class="item" data-value="45">45분</div>
            <div class="item" data-value="50">50분</div>
            <div class="item" data-value="55">55분</div>
          </div>
        </div>
        <div class="ui fluid selection dropdown">
          <input name="gender" value="default" type="hidden">
          <i class="dropdown icon"></i>
          <div class="text"></div>
          <div class="menu">
            <div class="item" data-value="09">09시</div>
            <div class="item" data-value="10">10시</div>
            <div class="item" data-value="11">11시</div>
            <div class="item" data-value="12">12시</div>
            <div class="item" data-value="13">13시</div>
            <div class="item" data-value="14">14시</div>
            <div class="item" data-value="15">15시</div>
            <div class="item" data-value="16">16시</div>
            <div class="item" data-value="17">17시</div>
            <div class="item" data-value="18">18시</div>
            <div class="item" data-value="19">19시</div>
            <div class="item" data-value="20">20시</div>
            <div class="item" data-value="21">21시</div>
          </div>
        </div>
        <div class="ui fluid selection dropdown">
          <input name="gender" value="default" type="hidden">
          <i class="dropdown icon"></i>
          <div class="text"></div>
          <div class="menu">
            <div class="item" data-value="00">00분</div>
            <div class="item" data-value="05">05분</div>
            <div class="item" data-value="10">10분</div>
            <div class="item" data-value="15">15분</div>
            <div class="item" data-value="20">20분</div>
            <div class="item" data-value="25">25분</div>
            <div class="item" data-value="30">30분</div>
            <div class="item" data-value="35">35분</div>
            <div class="item" data-value="40">40분</div>
            <div class="item" data-value="45">45분</div>
            <div class="item" data-value="50">50분</div>
            <div class="item" data-value="55">55분</div>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui red cancel inverted button">
      <i class="delete icon"></i>
      Cancel
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Add
    </div>
  </div>
</div>
