{% extends 'timetable/base.html' %}
{% block content %}
{% load start_time end_time korean_day from custom_filters %}
<div class="ui grid">
  <div class="left floated ten wide column">
    <div class="ui fluid container segment" id="search-box">
      <div class="search-form">
        <form class="ui fluid form container segment" id="search-form" method="POST">
          {%csrf_token%}
          <div class="inline fields">

            <div class="field">
              <div style="width: 220px">
                <div class="ui fluid search selection dropdown">
                  <input type="hidden" name="dept" id="id_dropdown">
                  <i class="dropdown icon"></i>
                  <div class="default text">학과 선택</div>
                  <div class="menu">
                  {% for key, value in depts.items %}
                  <div class="item" data-value="{{key}}">{{value}}</div>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              {% for grade in all_grade %}
              <div class="ui checkbox">
                <input name="grade" type="checkbox" value="{{grade}}" id='grade'>
                <label>{{grade}}</label>
              </div>
              {% endfor %}
            </div>

            <div class="field">
              <div style="width: 250px">
                <div class="ui fluid search">
                  <input class="prompt" type="text" id="search" placeholder="강좌명 또는 교수명으로 검색">
                  <div class="results"></div>
                </div>
              </div>
            </div>

            <button class="ui vertical animated button" type="submit" id="submit">
              <div class="hidden content">
                검색
              </div>
              <div class="visible content">
                <i class="search icon"></i>
              </div>
            </button>

            <button class="ui vertical animated button" type="submit" id="submit">
              <div class="hidden content">
                로드맵
              </div>
              <div class="visible content">
                <i class="map signs icon"></i>
              </div>
            </button>

          </div>
        </form>
      </div>

      <div class="ui hidden divider"></div>
      <div class="result-box">
        <div class="ui fluid container" id="result-box">
          <table class="ui very very compact blue table" id="class-table">
            <thead>
              <tr>
                <th class="one wide">학년</th>
                <th class="two wide">교과목명</th>
                <th class="one wide">학점</th>
                <th class="one wide">시간</th>
                <th class="one wide">담당교수</th>
                <th class="one wide">강좌번호</th>
                <th class="one wide">제한인원</th>
                <th class="three wide">시간(강의실)</th>
                <th class="three wide">비 고</th>
                <th class="one wide">check</th>
              </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="left floated six wide column">
    <div class="class-timetable">
      <div class="table">
        <!-- table의 row 생성 -->
        {% for hour in hours %}

        {% if forloop.first %}
        <div class="table-row thead">
          <div class="cell period thead">
            <p> / </p>
          </div>
          {% for day in days %}
          <div class="cell thead">
            <p>{{days|korean_day:forloop.counter0}}</p>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <div class="table-row">

          {% for day in days %}
          {% if forloop.first %}
          <div class="cell period p{{forloop.parentloop.counter}}">
            <p><span class="period-text">{{forloop.parentloop.counter}}교시</span><br>
            <span class="period-time">{{hours|start_time:forloop.parentloop.counter0}}:00 ~ {{hours|end_time:forloop.parentloop.counter0}}:00</span></p>

          </div>
          {% endif %}
          <div class="cell {{hour}} {{day}}">
          </div>
          {% endfor %}

        </div>

        {% endfor %}

        <div class="classitem" id="1234">
          <div class="content">
            <p>자료구조 <br> 권동섭 <br> Y5437</p>
          </div>
        </div>

      </div>
    </div>

    <script>
    // 미입력이나 없을 경우 exception handling 해야 함
    // table boarder 색 희여멀건하게 해야 픽셀 조정해도 티안날듯
      shour = "10";
      smin = "30";
      ehour = "12";
      emin = "30";
      day = "Mon";
      interval_minute = (parseInt(ehour) - parseInt(shour))*60 + (parseInt(emin) - parseInt(smin));


      cls_shour = ".";
      cls_shour += shour;
      cls_day = ".";
      cls_day += day;
      //객체와 동일한 시간표의 cell의 크기 가져옴
      cell_width = $(cls_shour).filter(cls_day).width();
      cell_height = $(cls_shour).filter(cls_day).height();

      item_width = cell_width;
      item_height = Math.round(cell_height * (interval_minute/60));
      if(smin=="00"){
        item_top = $(cls_shour).filter(cls_day).offset().top +1;
      }else{
        // smin이 있을때 top 위치 내려와야 함
        item_top = $(cls_shour).filter(cls_day).offset().top +1;
        smin_height = Math.round(cell_height *(smin/60));

        item_top += smin_height;
      }
      item_left = $(cls_shour).filter(cls_day).offset().left + 2;

      $("#1234.classitem").css("color","red").width(item_width).height(item_height).offset({top:item_top ,left:item_left});
      $(window).resize(function() { // window가 리사이즈 일어날떄 객체들 다시 포지션 조정 해줘야함
        // 함수로 만들어라
        cell_width = $(cls_shour).filter(cls_day).width();
        cell_height = $(cls_shour).filter(cls_day).height();

        item_width = cell_width;
        item_height = Math.round(cell_height * (interval_minute/60));
        if(smin=="00"){
          item_top = $(cls_shour).filter(cls_day).offset().top +1;
        }else{
          // smin이 있을때 top 위치 내려와야 함
          item_top = $(cls_shour).filter(cls_day).offset().top +1;
          smin_height = Math.round(cell_height *(smin/60));

          item_top += smin_height;
        }
        item_left = $(cls_shour).filter(cls_day).offset().left + 2;
        $("#1234.classitem").css("color","red").width(item_width).height(item_height).offset({top:item_top ,left:item_left});

      });


    </script>
  </div>
</div>



<!-- <div class="ui grid">
  <div class="right floated six wide column" id="my-timetable">
    <div class="ui top attached tabular menu" id="timetable-tab">
      <a class="item active" data-tab="first">PLAN A</a>
      <div class="right menu" id="add-timetable">
        <button type="button" class="ui basic button" onclick="add_timetable()"><i class="add icon"></i>New Tab</button>
      </div>
      <div class="menu" id="remove-timetable">
        <button type="button" class="ui basic icon button" onclick="remove_timetable()"><i class="large trash icon"></i></button>
      </div>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
      <table class="ui celled violet table">
          <thead>
            <tr>
              <th>/</th>
              <th>월요일</th>
              <th>화요일</th>
              <th>수요일</th>
              <th>목요일</th>
              <th>금요일</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">1교시<br>(09~10)</td>
              <td id="09-under30-Mon"></td>
              <td id="09-under30-Tue"></td>
              <td id="09-under30-Wed"></td>
              <td id="09-under30-Thu"></td>
              <td id="09-under30-Fri"></td>
            </tr>
            <tr>
              <td id="09-over30-Mon"></td>
              <td id="09-over30-Tue"></td>
              <td id="09-over30-Wed"></td>
              <td id="09-over30-Thu"></td>
              <td id="09-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2"> 2교시<br>(10~11)</td>
              <td id="10-under30-Mon"></td>
              <td id="10-under30-Tue"></td>
              <td id="10-under30-Wed"></td>
              <td id="10-under30-Thu"></td>
              <td id="10-under30-Fri"></td>
            </tr>
            <tr>
              <td id="10-over30-Mon"></td>
              <td id="10-over30-Tue"></td>
              <td id="10-over30-Wed"></td>
              <td id="10-over30-Thu"></td>
              <td id="10-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2"> 3교시<br>(11~12)</td>
              <td id="11-under30-Mon"></td>
              <td id="11-under30-Tue"></td>
              <td id="11-under30-Wed"></td>
              <td id="11-under30-Thu"></td>
              <td id="11-under30-Fri"></td>
            </tr>
            <tr>
              <td id="11-over30-Mon"></td>
              <td id="11-over30-Tue"></td>
              <td id="11-over30-Wed"></td>
              <td id="11-over30-Thu"></td>
              <td id="11-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2"> 4교시<br>(12~13)</td>
              <td id="12-under30-Mon"></td>
              <td id="12-under30-Tue"></td>
              <td id="12-under30-Wed"></td>
              <td id="12-under30-Thu"></td>
              <td id="12-under30-Fri"></td>
            </tr>
            <tr>
              <td id="12-over30-Mon"></td>
              <td id="12-over30-Tue"></td>
              <td id="12-over30-Wed"></td>
              <td id="12-over30-Thu"></td>
              <td id="12-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2"> 5교시<br>(13~14)</td>
              <td id="13-under30-Mon"></td>
              <td id="13-under30-Tue"></td>
              <td id="13-under30-Wed"></td>
              <td id="13-under30-Thu"></td>
              <td id="13-under30-Fri"></td>
            </tr>
            <tr>
              <td id="13-over30-Mon"></td>
              <td id="13-over30-Tue"></td>
              <td id="13-over30-Wed"></td>
              <td id="13-over30-Thu"></td>
              <td id="13-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2"> 6교시<br>(14~15)</td>
              <td id="14-under30-Mon"></td>
              <td id="14-under30-Tue"></td>
              <td id="14-under30-Wed"></td>
              <td id="14-under30-Thu"></td>
              <td id="14-under30-Fri"></td>
            </tr>
            <tr>
              <td id="14-over30-Mon"></td>
              <td id="14-over30-Tue"></td>
              <td id="14-over30-Wed"></td>
              <td id="14-over30-Thu"></td>
              <td id="14-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2"> 7교시<br>(15~16)</td>
              <td id="15-under30-Mon"></td>
              <td id="15-under30-Tue"></td>
              <td id="15-under30-Wed"></td>
              <td id="15-under30-Thu"></td>
              <td id="15-under30-Fri"></td>
            </tr>
            <tr>
              <td id="15-over30-Mon"></td>
              <td id="15-over30-Tue"></td>
              <td id="15-over30-Wed"></td>
              <td id="15-over30-Thu"></td>
              <td id="15-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2"> 8교시<br>(16~17)</td>
              <td id="16-under30-Mon"></td>
              <td id="16-under30-Tue"></td>
              <td id="16-under30-Wed"></td>
              <td id="16-under30-Thu"></td>
              <td id="16-under30-Fri"></td>
            </tr>
            <tr>
              <td id="16-over30-Mon"></td>
              <td id="16-over30-Tue"></td>
              <td id="16-over30-Wed"></td>
              <td id="16-over30-Thu"></td>
              <td id="16-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2"> 9교시<br>(17~18)</td>
              <td id="17-under30-Mon"></td>
              <td id="17-under30-Tue"></td>
              <td id="17-under30-Wed"></td>
              <td id="17-under30-Thu"></td>
              <td id="17-under30-Fri"></td>
            </tr>
            <tr>
              <td id="17-over30-Mon"></td>
              <td id="17-over30-Tue"></td>
              <td id="17-over30-Wed"></td>
              <td id="17-over30-Thu"></td>
              <td id="17-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2">10교시<br>(18~19)</td>
              <td id="18-under30-Mon"></td>
              <td id="18-under30-Tue"></td>
              <td id="18-under30-Wed"></td>
              <td id="18-under30-Thu"></td>
              <td id="18-under30-Fri"></td>
            </tr>
            <tr>
              <td id="18-over30-Mon"></td>
              <td id="18-over30-Tue"></td>
              <td id="18-over30-Wed"></td>
              <td id="18-over30-Thu"></td>
              <td id="18-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2">11교시<br>(19~20)</td>
              <td id="19-under30-Mon"></td>
              <td id="19-under30-Tue"></td>
              <td id="19-under30-Wed"></td>
              <td id="19-under30-Thu"></td>
              <td id="19-under30-Fri"></td>
            </tr>
            <tr>
              <td id="19-over30-Mon"></td>
              <td id="19-over30-Tue"></td>
              <td id="19-over30-Wed"></td>
              <td id="19-over30-Thu"></td>
              <td id="19-over30-Fri"></td>
            </tr>
            <tr>
              <td rowspan="2">12교시<br>(20~21)</td>
              <td id="20-under30-Mon"></td>
              <td id="20-under30-Tue"></td>
              <td id="20-under30-Wed"></td>
              <td id="20-under30-Thu"></td>
              <td id="20-under30-Fri"></td>
            </tr>
            <tr>
              <td id="20-over30-Mon"></td>
              <td id="20-over30-Tue"></td>
              <td id="20-over30-Wed"></td>
              <td id="20-over30-Thu"></td>
              <td id="20-over30-Fri"></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div> -->
{% endblock content %}
