{% extends 'timetable/base.html' %}

{% block content %}

{% if error_message %} <p id="error-msg"><strong>{{ error_message }}</strong></p> {% endif %}

<div class="ui grid">
  <div class="left floated eleven wide column">
    <div class="ui fluid container segment" id="search-box">
      <div class="search-form">
        <form class="ui fluid form container segment" id="search-form" method="POST">
          {%csrf_token%}
          <div class="inline fields">
            <div class="field">
              <div style="width: 220px">
                <div class="ui fluid search selection dropdown">
                  <input type="hidden" name="dept" id="id_dropdown">
                  <i class="dropdown icon"></i>
                  <div class="default text">학과 선택</div>
                  <div class="menu">
                  <div class="item" data-value='12913'>컴퓨터공학과</div>
                  <div class="item" data-value='10000'>자연캠퍼스 교양</div>
                  <div class="item" data-value='20000'>인문캠퍼스 교양</div>
                  <div class="item" data-value='12000'>공과대학</div>
                  <div class="item" data-value='16400'>사회과학대학</div>
                  <div class="item" data-value='16600'>경영대학</div>
                  <div class="item" data-value='11910'>수학과</div>
                  <div class="item" data-value='11915'>물리학과</div>
                  <div class="item" data-value='11920'>화학과</div>
                  <div class="item" data-value='11940'>식품영양학과</div>
                  <div class="item" data-value='11960'>생명과학정보학부</div>
                  <div class="item" data-value='12250'>화학공학과</div>
                  <div class="item" data-value='12361'>신소재공학과</div>
                  <div class="item" data-value='12370'>환경생명공학과</div>
                  <div class="item" data-value='12371'>환경에너지공학과</div>
                  <div class="item" data-value='12450'>토목환경공학과</div>
                  <div class="item" data-value='12500'>교통공학과</div>
                  <div class="item" data-value='12611'>컴퓨터소프트웨어학과</div>
                  <div class="item" data-value='12701'>기계공학과</div>
                  <div class="item" data-value='12755'>산업경영공학과</div>
                  <div class="item" data-value='12831'>정보공학과</div>
                  <div class="item" data-value='12832'>통신공학과</div>
                  <div class="item" data-value='12901'>정보통신공학과</div>
                  <div class="item" data-value='12900'>전기공학과</div>
                  <div class="item" data-value='12908'>전자공학과</div>
                  <div class="item" data-value='13720'>의상디자인학과</div>
                  <div class="item" data-value='13725'>체육학부</div>
                  <div class="item" data-value='13730'>체육학부 경기지도학전공</div>
                  <div class="item" data-value='13735'>바둑학과</div>
                  <div class="item" data-value='13750'>음악학부</div>
                  <div class="item" data-value='13781'>디자인학부</div>
                  <div class="item" data-value='13793'>영화뮤지컬학부 영화전공</div>
                  <div class="item" data-value='13794'>영화뮤지컬학부 뮤지컬공연전공</div>
                  <div class="item" data-value='18012'>건축학부</div>
                  <div class="item" data-value='18013'>건축학부 건축학전공</div>
                  <div class="item" data-value='18014'>건축학부 전통건축전공</div>
                  <div class="item" data-value='18015'>공간디자인학과</div>
                  <div class="item" data-value='18016'>건축학부 공간디자인전공</div>
                  <div class="item" data-value='14120'>국어국문학과</div>
                  <div class="item" data-value='14130'>영어영문학과</div>
                  <div class="item" data-value='14140'>중어중문학과</div>
                  <div class="item" data-value='14150'>일어일문학과</div>
                  <div class="item" data-value='16445'>아동학과</div>
                  <div class="item" data-value='16450'>청소년지도학과</div>
                  <div class="item" data-value='14190'>사학과</div>
                  <div class="item" data-value='14200'>문헌정보학과</div>
                  <div class="item" data-value='14210'>아랍지역학과</div>
                  <div class="item" data-value='14212'>미술사학과</div>
                  <div class="item" data-value='14240'>철학과</div>
                  <div class="item" data-value='14250'>문예창작학과</div>
                  <div class="item" data-value='16610'>경영학과</div>
                  <div class="item" data-value='16615'>경영학부 경영학전공</div>
                  <div class="item" data-value='16620'>경영학부 경영정보전공</div>
                  <div class="item" data-value='16410'>행정학과</div>
                  <div class="item" data-value='16420'>경제학과</div>
                  <div class="item" data-value='16425'>정치외교학과</div>
                  <div class="item" data-value='16430'>북한학과</div>
                  <div class="item" data-value='16440'>디지털미디어학과</div>
                  <div class="item" data-value='16640'>경영정보학과</div>
                  <div class="item" data-value='16650'>국제통상학과</div>
                  <div class="item" data-value='16660'>부동산학과</div>
                  <div class="item" data-value='16810'>법학과</div>
                  <div class="item" data-value='18510'>디지털콘텐츠디자인학과</div>
                  <div class="item" data-value='18520'>융합소프트웨어학부</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="ui checkbox">
                <input name="grade" type="checkbox" value="전학년" id='grade'>
                <label>전학년</label>
              </div>
              <div class="ui checkbox">
                <input name="grade" type="checkbox" value="1학년" id='grade'>
                <label>1학년</label>
              </div>
              <div class="ui checkbox">
                <input name="grade" type="checkbox" value="2학년" id='grade'>
                <label>2학년</label>
              </div>
              <div class="ui checkbox">
                <input name="grade" type="checkbox" value="3학년" id='grade'>
                <label>3학년</label>
              </div>
              <div class="ui checkbox">
                <input name="grade" type="checkbox" value="4학년" id='grade'>
                <label>4학년</label>
              </div>
            </div>

            <div class="field">
              <div style="width: 250px">
                <div class="ui fluid search">
                  <input class="prompt" type="text" id="search" placeholder="강좌명 또는 교수명으로 검색">
                  <div class="results"></div>
                </div>
              </div>
            </div>

            <button class="ui vertical animated button" type="submit" id="submit">
              <div class="hidden content">
                검색
              </div>
              <div class="visible content">
                <i class="search icon"></i>
              </div>
            </button>

            <button class="ui vertical animated button" id="add-item" type="button">
              <div class="hidden content">
                추가
              </div>
              <div class="visible content">
                <i class="plus icon"></i>
              </div>
            </button>

            <button class="ui vertical animated button" type="submit" id="submit">
              <div class="hidden content">
                로드맵
              </div>
              <div class="visible content">
                <i class="map signs icon"></i>
              </div>
            </button>

          </div>
        </form>
      </div>

      <div class="ui hidden divider"></div>

      <div class="result-box">
        <div class="ui fluid container" id="result-box">
          <table class="ui very very compact blue table" id="class-table">
            <thead>
              <tr>
                <th class="one wide">학년</th>
                <th class="two wide">교과목명</th>
                <th class="one wide">학점</th>
                <th class="one wide">시간</th>
                <th class="one wide">담당교수</th>
                <th class="one wide">강좌번호</th>
                <th class="one wide">제한인원</th>
                <th class="three wide">시간(강의실)</th>
                <th class="three wide">비 고</th>
                <th class="one wide">check</th>
              </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="right floated five wide column">
    <div class="ui top attached tabular menu" id="timetable-tab">
      <a class="item active" data-tab="first" id="timetable-tab">PLAN A</a>
      <a class="item" data-tab="second" id="timetable-tab">PLAN B</a>
      <a class="item" data-tab="third" id="timetable-tab">PLAN C</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
      <table class="ui celled violet table">
          <thead>
            <tr>
              <th>/</th>
              <th>월요일</th>
              <th>화요일</th>
              <th>수요일</th>
              <th>목요일</th>
              <th>금요일</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1교시<br>(09~10)</td>
              <td id="09-Mon"></td>
              <td id="09-Tue"></td>
              <td id="09-Wed"></td>
              <td id="09-Thu"></td>
              <td id="09-Fri"></td>
            </tr>
            <tr>
              <td>2교시<br>(10~11)</td>
              <td id="10-Mon"></td>
              <td id="10-Tue"></td>
              <td id="10-Wed"></td>
              <td id="10-Thu"></td>
              <td id="10-Fri"></td>
            </tr>
            <tr>
              <td>3교시<br>(11~12)</td>
              <td id="11-Mon"></td>
              <td id="11-Tue"></td>
              <td id="11-Wed"></td>
              <td id="11-Thu"></td>
              <td id="11-Fri"></td>
            </tr>
            <tr>
              <td>4교시<br>(12~13)</td>
              <td id="12-Mon"></td>
              <td id="12-Tue"></td>
              <td id="12-Wed"></td>
              <td id="12-Thu"></td>
              <td id="12-Fri"></td>
            </tr>
            <tr>
              <td>5교시<br>(13~14)</td>
              <td id="13-Mon"></td>
              <td id="13-Tue"></td>
              <td id="13-Wed"></td>
              <td id="13-Thu"></td>
              <td id="13-Fri"></td>
            </tr>
            <tr>
              <td>6교시<br>(14~15)</td>
              <td id="14-Mon"></td>
              <td id="14-Tue"></td>
              <td id="14-Wed"></td>
              <td id="14-Thu"></td>
              <td id="14-Fri"></td>
            </tr>
            <tr>
              <td>7교시<br>(15~16)</td>
              <td id="15-Mon"></td>
              <td id="15-Tue"></td>
              <td id="15-Wed"></td>
              <td id="15-Thu"></td>
              <td id="15-Fri"></td>
            </tr>
            <tr>
              <td>8교시<br>(16~17)</td>
              <td id="16-Mon"></td>
              <td id="16-Tue"></td>
              <td id="16-Wed"></td>
              <td id="16-Thu"></td>
              <td id="16-Fri"></td>
            </tr>
            <tr>
              <td>9교시<br>(17~18)</td>
              <td id="17-Mon"></td>
              <td id="17-Tue"></td>
              <td id="17-Wed"></td>
              <td id="17-Thu"></td>
              <td id="17-Fri"></td>
            </tr>
            <tr>
              <td>10교시<br>(18~19)</td>
              <td id="18-Mon"></td>
              <td id="18-Tue"></td>
              <td id="18-Wed"></td>
              <td id="18-Thu"></td>
              <td id="18-Fri"></td>
            </tr>
            <tr>
              <td>11교시<br>(19~20)</td>
              <td id="19-Mon"></td>
              <td id="19-Tue"></td>
              <td id="19-Wed"></td>
              <td id="19-Thu"></td>
              <td id="19-Fri"></td>
            </tr>
            <tr>
              <td>12교시<br>(20~21)</td>
              <td id="20-Mon"></td>
              <td id="20-Tue"></td>
              <td id="20-Wed"></td>
              <td id="20-Thu"></td>
              <td id="20-Fri"></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <table class="ui celled orange table">
          <thead>
            <tr>
              <th>/</th>
              <th>월요일</th>
              <th>화요일</th>
              <th>수요일</th>
              <th>목요일</th>
              <th>금요일</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1교시<br>(09~10)</td>
              <td id="09-Mon"></td>
              <td id="09-Tue"></td>
              <td id="09-Wed"></td>
              <td id="09-Thu"></td>
              <td id="09-Fri"></td>
            </tr>
            <tr>
              <td>2교시<br>(10~11)</td>
              <td id="10-Mon"></td>
              <td id="10-Tue"></td>
              <td id="10-Wed"></td>
              <td id="10-Thu"></td>
              <td id="10-Fri"></td>
            </tr>
            <tr>
              <td>3교시<br>(11~12)</td>
              <td id="11-Mon"></td>
              <td id="11-Tue"></td>
              <td id="11-Wed"></td>
              <td id="11-Thu"></td>
              <td id="11-Fri"></td>
            </tr>
            <tr>
              <td>4교시<br>(12~13)</td>
              <td id="12-Mon"></td>
              <td id="12-Tue"></td>
              <td id="12-Wed"></td>
              <td id="12-Thu"></td>
              <td id="12-Fri"></td>
            </tr>
            <tr>
              <td>5교시<br>(13~14)</td>
              <td id="13-Mon"></td>
              <td id="13-Tue"></td>
              <td id="13-Wed"></td>
              <td id="13-Thu"></td>
              <td id="13-Fri"></td>
            </tr>
            <tr>
              <td>6교시<br>(14~15)</td>
              <td id="14-Mon"></td>
              <td id="14-Tue"></td>
              <td id="14-Wed"></td>
              <td id="14-Thu"></td>
              <td id="14-Fri"></td>
            </tr>
            <tr>
              <td>7교시<br>(15~16)</td>
              <td id="15-Mon"></td>
              <td id="15-Tue"></td>
              <td id="15-Wed"></td>
              <td id="15-Thu"></td>
              <td id="15-Fri"></td>
            </tr>
            <tr>
              <td>8교시<br>(16~17)</td>
              <td id="16-Mon"></td>
              <td id="16-Tue"></td>
              <td id="16-Wed"></td>
              <td id="16-Thu"></td>
              <td id="16-Fri"></td>
            </tr>
            <tr>
              <td>9교시<br>(17~18)</td>
              <td id="17-Mon"></td>
              <td id="17-Tue"></td>
              <td id="17-Wed"></td>
              <td id="17-Thu"></td>
              <td id="17-Fri"></td>
            </tr>
            <tr>
              <td>10교시<br>(18~19)</td>
              <td id="18-Mon"></td>
              <td id="18-Tue"></td>
              <td id="18-Wed"></td>
              <td id="18-Thu"></td>
              <td id="18-Fri"></td>
            </tr>
            <tr>
              <td>11교시<br>(19~20)</td>
              <td id="19-Mon"></td>
              <td id="19-Tue"></td>
              <td id="19-Wed"></td>
              <td id="19-Thu"></td>
              <td id="19-Fri"></td>
            </tr>
            <tr>
              <td>12교시<br>(20~21)</td>
              <td id="20-Mon"></td>
              <td id="20-Tue"></td>
              <td id="20-Wed"></td>
              <td id="20-Thu"></td>
              <td id="20-Fri"></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      <table class="ui celled olive table">
          <thead>
            <tr>
              <th>/</th>
              <th>월요일</th>
              <th>화요일</th>
              <th>수요일</th>
              <th>목요일</th>
              <th>금요일</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1교시<br>(09~10)</td>
              <td id="09-Mon"></td>
              <td id="09-Tue"></td>
              <td id="09-Wed"></td>
              <td id="09-Thu"></td>
              <td id="09-Fri"></td>
            </tr>
            <tr>
              <td>2교시<br>(10~11)</td>
              <td id="10-Mon"></td>
              <td id="10-Tue"></td>
              <td id="10-Wed"></td>
              <td id="10-Thu"></td>
              <td id="10-Fri"></td>
            </tr>
            <tr>
              <td>3교시<br>(11~12)</td>
              <td id="11-Mon"></td>
              <td id="11-Tue"></td>
              <td id="11-Wed"></td>
              <td id="11-Thu"></td>
              <td id="11-Fri"></td>
            </tr>
            <tr>
              <td>4교시<br>(12~13)</td>
              <td id="12-Mon"></td>
              <td id="12-Tue"></td>
              <td id="12-Wed"></td>
              <td id="12-Thu"></td>
              <td id="12-Fri"></td>
            </tr>
            <tr>
              <td>5교시<br>(13~14)</td>
              <td id="13-Mon"></td>
              <td id="13-Tue"></td>
              <td id="13-Wed"></td>
              <td id="13-Thu"></td>
              <td id="13-Fri"></td>
            </tr>
            <tr>
              <td>6교시<br>(14~15)</td>
              <td id="14-Mon"></td>
              <td id="14-Tue"></td>
              <td id="14-Wed"></td>
              <td id="14-Thu"></td>
              <td id="14-Fri"></td>
            </tr>
            <tr>
              <td>7교시<br>(15~16)</td>
              <td id="15-Mon"></td>
              <td id="15-Tue"></td>
              <td id="15-Wed"></td>
              <td id="15-Thu"></td>
              <td id="15-Fri"></td>
            </tr>
            <tr>
              <td>8교시<br>(16~17)</td>
              <td id="16-Mon"></td>
              <td id="16-Tue"></td>
              <td id="16-Wed"></td>
              <td id="16-Thu"></td>
              <td id="16-Fri"></td>
            </tr>
            <tr>
              <td>9교시<br>(17~18)</td>
              <td id="17-Mon"></td>
              <td id="17-Tue"></td>
              <td id="17-Wed"></td>
              <td id="17-Thu"></td>
              <td id="17-Fri"></td>
            </tr>
            <tr>
              <td>10교시<br>(18~19)</td>
              <td id="18-Mon"></td>
              <td id="18-Tue"></td>
              <td id="18-Wed"></td>
              <td id="18-Thu"></td>
              <td id="18-Fri"></td>
            </tr>
            <tr>
              <td>11교시<br>(19~20)</td>
              <td id="19-Mon"></td>
              <td id="19-Tue"></td>
              <td id="19-Wed"></td>
              <td id="19-Thu"></td>
              <td id="19-Fri"></td>
            </tr>
            <tr>
              <td>12교시<br>(20~21)</td>
              <td id="20-Mon"></td>
              <td id="20-Tue"></td>
              <td id="20-Wed"></td>
              <td id="20-Thu"></td>
              <td id="20-Fri"></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="ui custom popup">
  <div class="ui buttons">
    <button class="ui positive button">Save</button>
    <button class="ui button">Cancel</button>
  </div>
</div>

<script>
  function check_insert(){
    prompt("추가하시겠습니까?");
  }
</script>
{% endblock content %}
