
body {
  padding:10px;
}
header,footer {
  height: 30px;
}
.result-box {
  height: 800px;
  overflow:auto;
}
.checkbox {
  margin-left:10px;
  margin-right:0px !important;
}
.checkbox label {
  padding-left: 20px !important;
}

.clicked {
  background-color: #b3b3ff !important;
}

.hover {
  background-color: #e6e6ff;
}
